.navigationContainer{
    display: flex;
    list-style: none;
    justify-content: center
}

.navLink {

    color: #fff;
    
}

.activeStyle {
    color: #4FC3A1;
    text-decoration: none;
    
}

    .buttonNav, .buttonNav::after {
      margin-left: 10px;
        width: 380px;
        height: 86px;
        font-size: 36px;
        /* font-family: 'Bebas Neue', cursive; */
        background: linear-gradient(45deg, transparent 5%, #324960 5%);
        border: 0;
        color: #fff;
        letter-spacing: 3px;
        line-height: 88px;
        box-shadow: 6px 0px 0px #4FC3A1;
        outline: transparent;
        position: relative;
      }
      
      .buttonNav::after {
        --slice-0: inset(50% 50% 50% 50%);
        --slice-1: inset(80% -6px 0 0);
        --slice-2: inset(50% -6px 30% 0);
        --slice-3: inset(10% -6px 85% 0);
        --slice-4: inset(40% -6px 43% 0);
        --slice-5: inset(80% -6px 5% 0);
        
        content: 'AVAILABLE NOW';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(45deg, transparent 3%, #4FC3A1 3%, #4FC3A1 5%, #FF013C 5%);
        text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #4FC3A1;
        clip-path: var(--slice-0);
      }
      
      .buttonNav:hover::after {
        animation: 1s glitch;
        animation-timing-function: steps(2, end);
      }
      
      @keyframes glitch {
        0% {
          clip-path: var(--slice-1);
          transform: translate(-20px, -10px);
        }
        10% {
          clip-path: var(--slice-3);
          transform: translate(10px, 10px);
        }
        20% {
          clip-path: var(--slice-1);
          transform: translate(-10px, 10px);
        }
        30% {
          clip-path: var(--slice-3);
          transform: translate(0px, 5px);
        }
        40% {
          clip-path: var(--slice-2);
          transform: translate(-5px, 0px);
        }
        50% {
          clip-path: var(--slice-3);
          transform: translate(5px, 0px);
        }
        60% {
          clip-path: var(--slice-4);
          transform: translate(5px, 10px);
        }
        70% {
          clip-path: var(--slice-2);
          transform: translate(-10px, 10px);
        }
        80% {
          clip-path: var(--slice-5);
          transform: translate(20px, -10px);
        }
        90% {
          clip-path: var(--slice-1);
          transform: translate(-10px, 0px);
        }
        100% {
          clip-path: var(--slice-1);
          transform: translate(0);
        }
      }

      *{
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    body{
        font-family: Helvetica;
        -webkit-font-smoothing: antialiased;
        background: #afcfee;
    }
    h2{
        text-align: center;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: white;
        padding: 30px 0;
    }
    
    /* Table Styles */
    
    .table-wrapper{
        margin: 10px 70px 70px;
        box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    }
    
    .flTtable {
        border-radius: 5px;
        font-size: 12px;
        font-weight: normal;
        border: none;
        border-collapse: collapse;
        width: 100%;
        max-width: 100%;
        white-space: nowrap;
        background-color: white;
     height: auto;
    
    }
    
    .flTtable td, .flTtable th {
        text-align: center;
        padding: 8px;
    }
    
    .flTtable td {
        border-right: 1px solid #f8f8f8;
        font-size: 12px;
    }
    
    .flTtable thead th {
        color: #ffffff;
        background: #4FC3A1;
    }
    
    
    .flTtable thead th:nth-child(odd) {
        color: #ffffff;
        background: #324960;
    }
    
    .flTtable tr:nth-child(even) {
        background: #F8F8F8;
    }
    
    /* Responsive */
    
    @media (max-width: 767px) {
        .flTtable {
            display: block;
            width: 100%;
        }
        .table-wrapper:before{
            content: "Scroll horizontally >";
            display: block;
            text-align: right;
            font-size: 11px;
            color: white;
            padding: 0 0 10px;
        }
        .flTtable thead, .flTtable tbody, .flTtable thead th {
            display: block;
        }
        .flTtable thead th:last-child{
            border-bottom: none;
        }
        .flTtable thead {
            float: left;
        }
        .flTtable tbody {
            width: auto;
            position: relative;
            overflow-x: auto;
        }
        .flTtable td, .flTtable th {
            padding: 20px .625em .625em .625em;
            height: 60px;
            vertical-align: middle;
            box-sizing: border-box;
            overflow-x: hidden;
            overflow-y: auto;
            width: 120px;
            font-size: 13px;
            text-overflow: ellipsis;
        }
        .flTtable thead th {
            text-align: left;
            border-bottom: 1px solid #f7f7f9;
        }
        .flTtable tbody tr {
            display: table-cell;
        }
        .flTtable tbody tr:nth-child(odd) {
            background: none;
        }
        .flTtable tr:nth-child(even) {
            background: transparent;
        }
        .flTtable tr td:nth-child(odd) {
            background: #F8F8F8;
            border-right: 1px solid #E6E4E4;
        }
        .flTtable tr td:nth-child(even) {
            border-right: 1px solid #E6E4E4;
        }
        .flTtable tbody td {
            display: block;
            text-align: center;
        }
    }
    .headerTable{
        color:#fff;
        margin-top: 150px;
      }