
/* Table Styles */

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.flTtable {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    /* border-collapse: collapse;
    width: 100%; */
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.flTtable td, .flTtable th {
    text-align: center;
    padding: 8px;
    word-wrap:break-word;
}

.flTtable td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
    word-wrap:break-word;
}

.flTtable thead th {
    color: #ffffff;
    background: #4FC3A1;
    word-wrap:break-word;
}


.flTtable thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.flTtable tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .flTtable {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .flTtable thead, .flTtable tbody, .flTtable thead th {
        display: block;
    }
    .flTtable thead th:last-child{
        border-bottom: none;
    }
    .flTtable thead {
        float: left;
    }
    .flTtable tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .flTtable td, .flTtable th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
        word-wrap:break-word;
    }
    .flTtable thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .flTtable tbody tr {
        display: table-cell;
    }
    .flTtable tbody tr:nth-child(odd) {
        background: none;
    }
    .flTtable tr:nth-child(even) {
        background: transparent;
    }
    .flTtable tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .flTtable tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .flTtable tbody td {
        display: block;
        text-align: center;
    }
}

.modalButton {  width: 15vw;
  height: 40px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

 
}
.modalButton:hover {
    background-color: #cde2e5;
  }
  .modalButton:active {
    color: #ffffff;
    background-color: #b3c2c4;
  }

  .modalForm{
    display: flex;
  flex-direction: column;
  width: 80%;
  padding: 10px;
  background-image: repeating-linear-gradient(
    -45deg,
    #4FC3A1,
    #4FC3A1 10px,
    rgba( 71, 147, 227, 1) 10px,
    rgba( 71, 147, 227, 1) 20px
  );
  }
  .labelModal{
    display: flex;
  flex-direction: column;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
  }
  .inputModal{
    width: 95%;
    margin-top: 5px;
   
      
  }
  .inputModal:focus{
    outline: 3px solid #1ac7d2;
    border: none;
  }