.container{
  display: flex;


  flex-direction: column;
  margin-left: 10px;
}

.filterLabel{

  font-size: 18px;
  font-weight: 500;
 
}
.inputFilter{
  width: 40%;
  margin-top: 5px;
}
.inputFilter:focus {
  outline: 3px solid #1ac7d2;
  border: none;
}

  @media (min-width: 769px){
    .inputFilter{ width: 80%;}
 
};
@media (min-width: 1024px) {
.inputFilter{
  width: 40%;
}
}
.headerFilter{
  color:#fff;
}